.elementor-1043 .elementor-element.elementor-element-38924e48{border-style:solid;border-width:0px 0px 1px 0px;border-color:#E5E5E5;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:60px;margin-bottom:60px;padding:0px 0px 50px 0px;}.elementor-1043 .elementor-element.elementor-element-38924e48 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1043 .elementor-element.elementor-element-2b4ddb78 > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-product-gallery-slider .jet-woo-product-gallery__image{border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-product-gallery-slider .jet-swiper-nav{font-size:35px;border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-product-gallery-slider .jet-swiper-nav.jet-swiper-button-prev{top:50%;bottom:auto;transform:translate(0,-50%);right:auto;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-product-gallery-slider .jet-swiper-nav.jet-swiper-button-next{top:50%;bottom:auto;transform:translate(0,-50%);left:auto;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-swiper-gallery-thumbs.swiper-container-horizontal{text-align:left;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-swiper-gallery-thumbs .jet-swiper-nav{font-size:25px;border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-swiper-gallery-thumbs .jet-swiper-nav.jet-swiper-button-prev{top:50%;bottom:auto;transform:translate(0,-50%);right:auto;}.elementor-1043 .elementor-element.elementor-element-01ec4ba .jet-woo-swiper-gallery-thumbs .jet-swiper-nav.jet-swiper-button-next{top:50%;bottom:auto;transform:translate(0,-50%);left:auto;}.elementor-1043 .elementor-element.elementor-element-48186f2f > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-1043 .elementor-element.elementor-element-3da257ba .elementor-heading-title{color:#03428B;font-family:"Baloo Thambi 2", Sans-serif;font-size:34px;font-weight:800;line-height:40.8px;}.elementor-1043 .elementor-element.elementor-element-3da257ba > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1043 .elementor-element.elementor-element-21d4515 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1043 .elementor-element.elementor-element-35cdfb6a, .elementor-1043 .elementor-element.elementor-element-35cdfb6a > .elementor-background-overlay{border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-35cdfb6a{margin-top:0px;margin-bottom:15px;}.elementor-1043 .elementor-element.elementor-element-907737f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1043 .elementor-element.elementor-element-907737f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F8FD;}.elementor-1043 .elementor-element.elementor-element-907737f > .elementor-element-populated, .elementor-1043 .elementor-element.elementor-element-907737f > .elementor-element-populated > .elementor-background-overlay, .elementor-1043 .elementor-element.elementor-element-907737f > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-907737f > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1043 .elementor-element.elementor-element-907737f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1043 .elementor-element.elementor-element-907737f > .elementor-element-populated > .elementor-widget-wrap{padding:15px 15px 15px 15px;}.elementor-1043 .elementor-element.elementor-element-7f7bf380 .elementor-icon-list-icon i{color:#2ECD71;}.elementor-1043 .elementor-element.elementor-element-7f7bf380 .elementor-icon-list-icon svg{fill:#2ECD71;}.elementor-1043 .elementor-element.elementor-element-7f7bf380{--e-icon-list-icon-size:20px;}.elementor-1043 .elementor-element.elementor-element-7f7bf380 .elementor-icon-list-text{color:#000000;}.elementor-1043 .elementor-element.elementor-element-7f7bf380 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1043 .elementor-element.elementor-element-7f7bf380 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-weight:600;line-height:30px;}.elementor-1043 .elementor-element.elementor-element-34554a95 .elementor-progress-wrapper .elementor-progress-bar{background-color:#178FD6;}.elementor-1043 .elementor-element.elementor-element-34554a95 .elementor-progress-wrapper{background-color:#D5EBF8;border-radius:20px;overflow:hidden;}.elementor-1043 .elementor-element.elementor-element-34554a95 .elementor-progress-bar{height:5px;line-height:5px;color:#178FD6;}.elementor-1043 .elementor-element.elementor-element-34554a95 .elementor-title{color:#178FD6;font-family:"Baloo Thambi 2", Sans-serif;font-size:17px;font-weight:600;}.elementor-1043 .elementor-element.elementor-element-34554a95 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1043 .elementor-element.elementor-element-2c1671e .elementor-button{font-family:"Poppins", Sans-serif;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:#1278B3;border-style:solid;border-width:0px 0px 0px 0px;border-radius:6px 6px 6px 6px;padding:20px 24px 20px 24px;}.elementor-1043 .elementor-element.elementor-element-2c1671e{width:100%;max-width:100%;}.elementor-1043 .elementor-element.elementor-element-61f9604b, .elementor-1043 .elementor-element.elementor-element-61f9604b > .elementor-background-overlay{border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-61f9604b{margin-top:0px;margin-bottom:15px;}.elementor-1043 .elementor-element.elementor-element-2300979a:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F8FD;}.elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-element-populated, .elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-element-populated > .elementor-background-overlay, .elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-background-slideshow{border-radius:6px 6px 6px 6px;}.elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1043 .elementor-element.elementor-element-2300979a > .elementor-element-populated > .elementor-widget-wrap{padding:16px 16px 16px 16px;}.elementor-1043 .elementor-element.elementor-element-76a77784{text-align:center;}.elementor-1043 .elementor-element.elementor-element-76a77784 .elementor-heading-title{color:#444444;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;}.elementor-1043 .elementor-element.elementor-element-151259d > .elementor-container{max-width:780px;}.elementor-1043 .elementor-element.elementor-element-151259d{margin-top:0px;margin-bottom:60px;}.elementor-1043 .elementor-element.elementor-element-a4f79cd{text-align:center;}.elementor-1043 .elementor-element.elementor-element-09af432{text-align:center;}.elementor-1043 .elementor-element.elementor-element-09af432 .elementor-heading-title{color:#03428B;font-family:"Baloo Thambi 2", Sans-serif;font-size:23px;font-weight:800;line-height:40.8px;}.elementor-1043 .elementor-element.elementor-element-09af432 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-1043 .elementor-element.elementor-element-38924e48{margin-top:0px;margin-bottom:0px;}}/* Start custom CSS */.single_variation_wrap .woocommerce-variation-price {
    display: initial !important;
}
.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row label, .shopengine-widget .shopengine-checkout-review-order .woocommerce-checkout-review-order-table thead, table.variations th.label, .single_variation_wrap .woocommerce-variation-price, .variations_form .reset_variations, .woocommerce span.onsale, #home-product .woocommerce-tabs.wc-tabs-wrapper, #home-product .woocommerce div.product form.cart .reset_variations {
    display: initial !important;
}
body.single-product .qib-button.qib-button-wrapper {
    display: inline-block;
    float: left !important;
    margin-right: 0px !important;
}
#txtmn22 .price {
    font-size: 19px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: initial;
    letter-spacing: 0px;
}
span.woocommerce-Price-amount.amount {
    color: #034488;
    font-weight: 600;
}
.qib-button-wrapper button.qib-button.minus {
    left: 0;
}
button.plus.qib-button {
    right: 0px;
}
.elementor-widget-container h2 {
    color: #034488;
    font-family: "Baloo Thambi 2", Sans-serif;
    font-size: 23px;
    font-weight: 600;
}
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item {
    width: auto;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: #444444;
    color: #444444;
    background-color: #F2ECFF;
    border-radius: 6px 6px 6px 6px;
    padding: 10px 16px 10px 16px;
    border: none;
    box-shadow: none;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: none;
}
.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item:hover {
    opacity: 1;
    color: #444;
    background-color: #d8c6ff;
    border-color: #178fd6;
    -webkit-box-shadow: 0 0 0 0.2rem #178fd6;
    -moz-box-shadow: 0 0 0 .2rem #178fd6;
    -ms-box-shadow: 0 0 0 .2rem #178fd6;
    -o-box-shadow: 0 0 0 .2rem #178fd6;
    box-shadow: 0 0 0 0.2rem #178fd6;
}
.variations th.label {
    display: none !important;
}
div#pa_packs_label {
    display: none;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: none !important;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: none !important;
    background: #178fd6;
    color: #fff;
}
/*.woocommerce-variation.single_variation .woocommerce-variation-price {
    display: initial !important;
}*/
.woocommerce-variation-price span.price {
    color: #178fd6;
    font-weight: 700;
    font-size: 19px !important;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    padding-top: 15px;
}
#minkmprice22 .woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #178fd6;
    font-size: 19px !important;
    font-weight: 700;
}
div#minkmtitle22 {
    margin-bottom: 0px;
}
div#minkmprice22 {
    margin-bottom: 0px;
}
.woocommerce div.product form.cart .variations {
    margin-bottom: 0px;
    border: 0;
    width: 100%;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #178fd6;
    font-size: 19px !important;
    font-weight: 700;
}
.woocommerce div.product form.cart .variations th.label {
    display: initial !important;
    padding-left: 0px !important;
    color: #178FD6;
    font-family: "Baloo Thambi 2", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}
span.woo-selected-variation-item-name {
    padding-left: 5px !important;
}
button.single_add_to_cart_button.elementor-button.button.alt {
    height: 56px !important;
}
.e-atc-qty-button-holder:before {
    content: 'Quantité';
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 4px;
    line-height: 24px;
    padding-left: 0px !important;
    color: #178FD6;
    font-family: "Baloo Thambi 2", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.e-atc-qty-button-holder {
    margin-top: 5px;
}
ul.variable-items-wrapper.button-variable-wrapper.reselect-clear {
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    padding-top: 0px;
}
/* AVIS */
.glsr-default .glsr-review>.glsr-review-content {
    margin: 1rem 0;
    width: 100%;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}
.glsr-default .glsr-review>.glsr-review-author {
    align-items: center;
    display: flex;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
    font-style: italic;
}
.glsr-default .glsr-review>.glsr-review-title>* {
    margin-bottom: 1rem;
    margin-top: 0;
    color: #178FD6;
    font-family: "Baloo Thambi 2", Sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.glsr-default .glsr-review>.glsr-review-date {
    align-items: center;
    display: flex;
    flex-basis: calc(100% - 7.5rem);
    flex-grow: 1;
    font-style: italic;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}
.woocommerce .blockUI.blockOverlay {
    position: relative;
    display: none !important;
}/* End custom CSS */